.logo {
  width: 20%;
  }

Header {
  background: #aeacac;
}

nav li {
  display: inline;
  margin: 0 0 0 1 px;
}

nav a {
  text-transform: uppercase;
  color:  #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

.caixa {
  position: relative;
  width: 940px;
  right: 0 auto;
  left: 90px;
}
