body {
    background:#A9A9A9;
    font-size: 30px;
    color: #191970;
    
}
h2 {
    font-size: 60px;
    background: #928bcb;
    color: rgb(10, 9, 9);
    border:15px groove cadetblue;
        margin-top: 0px;

    }

p {
    text-align: justify;
    
}

b {
    color: red;
}

#imagem-principal {
    width: 10%;
    margin-right: 210px;
    margin-bottom: 0px;
    vertical-align: top;

}

#imagem-secundaria {
    width: 100%;
    height: 320px;
    
} 

i {
    font-size: 30px;
    color: #01260a;
}

#formacao {
   border: 3px dotted black ;
   padding: 10px;
      
}

h3 {
    text-align: center;
    color: white
    
}

.lista {
    color: white;
    background-color: #060606;
           
}

li::marker {
    content: "\1F4D5";
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 28%;
    margin-right: 0%;


    }

.teste {
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin-right: 10%;
    padding-left: 22%;

}

#escola {
    color: #191970;
}
.imagem3 {
    width: 18%;
    border: solid yellow 20px;
}
.titulo-principal {
    
        font-size: 40px;
        text-align: center;
        padding: 0px;
        margin: 0%;
        color: white;
        background-color: rgba(93, 2, 2, 0.734);
}

.logo {
    width: 20%;
  }
  h1,p {
    padding: 10px;
    margin: 5px;
  }
  